---

---

<button
  id="dark-mode-toggle"
  hidden=""
  class="cursor-pointer transition-colors hover:text-accent-foreground"
>
  <span class="sr-only">Enable dark mode</span>
  <svg
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <circle cx="12" cy="12" r="4" fill="currentColor"></circle>
    <path d="M12 2v2"></path>
    <path d="M12 20v2"></path>
    <path d="m4.93 4.93 1.41 1.41"></path>
    <path d="m17.66 17.66 1.41 1.41"></path>
    <path d="M2 12h2"></path>
    <path d="M20 12h2"></path>
    <path d="m6.34 17.66-1.41 1.41"></path>
    <path d="m19.07 4.93-1.41 1.41"></path>
  </svg>
</button>

<button
  id="light-mode-toggle"
  hidden=""
  class="cursor-pointer transition-colors hover:text-accent-foreground"
>
  <span class="sr-only">Enable light mode</span>
  <svg
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-moon-icon lucide-moon"
  >
    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" fill="currentColor"></path>
  </svg>
</button>

<script>
  const $darkModeToggle = document.getElementById('dark-mode-toggle')!;
  const $lightModeToggle = document.getElementById('light-mode-toggle')!;

  if (document.documentElement.classList.contains('dark')) {
    $darkModeToggle.hidden = true;
    $lightModeToggle.hidden = false;
  } else {
    $lightModeToggle.hidden = true;
    $darkModeToggle.hidden = false;
  }

  $darkModeToggle.addEventListener('click', () => {
    document.documentElement.classList.add('dark');
    localStorage.theme = 'dark';

    $darkModeToggle.hidden = true;
    $lightModeToggle.hidden = false;
  });

  $lightModeToggle.addEventListener('click', () => {
    document.documentElement.classList.remove('dark');
    localStorage.theme = 'light';

    $lightModeToggle.hidden = true;
    $darkModeToggle.hidden = false;
  });
</script>
